<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Data base</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="container" align="center">

    <sec:authorize access="!isAuthenticated()">
        <h4><a href="/login">ENTER</a></h4>
        <h4><a href="/registration">REGISTRATION</a></h4>
    </sec:authorize>
    <sec:authorize access="isAuthenticated()">
        <h4><a href="/logout">LOGOUT</a></h4>
    </sec:authorize>
    <h4><a href="/user">USER</a></h4>
    <h4><a href="/admin">ADMIN</a></h4>
</div>

</body>
</html>