<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Data base</title>
</head>
<body>
<div>
    <h3>Hello User!</h3>
    <sec:authorize access="!isAuthenticated()">
        <h4><a href="/login">ENTER</a></h4>
        <h4><a href="/registration">Registration</a></h4>
    </sec:authorize>
    <sec:authorize access="isAuthenticated()">
        <h4><a href="/logout">Logout</a></h4>
    </sec:authorize>
    <h4><a href="/news">User page</a></h4>
    <h4><a href="/admin">Users list(only for ADMIN!</a></h4>
</div>

</body>
</html>