<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login page</title>
    <link rel="icon" type="image/png" href="/icons-spring-logo.ico">
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>

</head>
<body>
<div class="container">

    <form method="post" action="/login">
        <h2>Please sign in</h2>
        <p>
            <label for="email">Email address</label>
            <input type="email" id="email" name="u_email" placeholder="Email address" required
                   autofocus>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="u_password"  placeholder="Password" required>
        </p>
        <button  type="submit">Login</button>

    </form>

</div>
</body>
</html>