<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<div align="center">
    <form th:action="@{/registration}" method="POST" th:object="${user}" >
        <h2>REGISTRATION</h2>
        <p>
            <input type="text" id="username" name="username" placeholder="Username"
                        autofocus="true"/>
        </p>
        <p>
            <input type="password" id="password" name="password" placeholder="Password"/>
        </p>
        <p>
            <input type="email" id="email" name="email" placeholder="Email"/>
        </p>

        <input type="submit" value="Sing In">

    </form>
    <br>
    <a href="/">MAIN PAGE</a>
    <br>
    <h4><a href="/logout">LOGOUT</a></h4>
</div>


</body>
</html>