<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
    <title>Update User</title>

</head>
<body>
<div align="center">
    <h2>Update User</h2>
    <form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
        <p><input type="hidden" th:field="*{id}" /></p>

        <p><label for="username">NAME</label></p>
        <p><input type="text" th:field="*{username}" id="username" value="username" required></p>

        <p><label for="email">E-MAIL</label></p>
        <p><input type="email" th:field="*{email}" id="email" value="email" required></p>

        <p><label for="password">Password</label></p>
        <p><input type="text" th:field="*{password}" id="password" value="password" required></p>

        <p>
            <input type="submit" value="EDIT">
        </p>

    </form>
</div>
</body>
</html>