<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        Layout:decorator="layout">
<head>
    <title>User page</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content">
<p>Welcome to the Home!(<span sec:authentication="principal.email">User</span>)</p>

<div align="center">

        <h2>User info</h2>
    <p>Hello (<span sec:authentication="principal.username">User</span>)</p>
    <p>You email: (<span sec:authentication="principal.email">Email</span>)</p>
    <br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="LOGOUT"/>
    </form>

</div>
</div>
</body>
</html>